<div class="row">
    <div class="col-10">
<form #formProducto="ngForm" (ngSubmit)="agregarProducto(); formProducto.reset()">
  <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre"
            required
            [(ngModel)]="producto.nombre" name="nombre" #nombre="ngModel">
            <span *ngIf="nombre.touched && !nombre.valid">Nombre requerido</span>
    </div>
    
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="text"  class="form-control" id="descripcion"
            [(ngModel)]="producto.precio" name="precio">
    </div>
    <div class="form-group">
        <label for="imagen">Imagen</label>
        <input type="text"  class="form-control" id="imagen"
              [(ngModel)]="producto.imagen" name="imagen">
      </div>
    <button type="submit"[disabled]="!formProducto.form.valid" >Añadir</button>
    
  </form> 
  <div class="buscador">
    <input type="search" [(ngModel)]="buscarNombre"/>
  </div>
  
     
        <figure class="snip1423" *ngFor="let producto of listaProductos | buscarNombre:this.buscarNombre" >
          <img [src]="producto.imagen" alt="sample57" />
          <figcaption>
            <h3>{{producto.nombre}}</h3>
            <p></p>
            <div class="price">
              {{producto.precio}}€
            </div>
          </figcaption><i class="ion-android-cart" ></i>
          <a href="#" (click)="anadirProducto(producto)"></a>
        </figure>

      </div>
    
        
          <div class="col-2">
              <h3>Precio Total:{{totalComprados}}€</h3>

              <ul class="list-group">
                <li class="list-group-item" *ngFor="let comprado of productosComprados">{{comprado.nombre}}</li>
                
              </ul>

           </div>

    </div>

